
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Memoir of events</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />

    <style>
        #ABC {
          background-color:#5D6D7E  ;
          border: 1px #85929E;
        }
     
      </style>
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body" id="ABC">
            <div class="container">
                <h1 class="title">
                    Memoir of Events
    
                </h1> 
              

            </div>
        </div>

    </section>

    {% block content %}

    {% endblock %}
    <footer class="footer">
    </footer>
</body>

</html>